{% extends "base.html" %}

{% block title %}My tasks ({{tasks|length}}){% endblock %}

{% block content %}
<div class="mx-auto p-4">
    <h1 class="text-xl font-bold mb-4">My tasks ({{tasks|length}})</h1>
    <a href="{% url 'create-task' %}" 
    class="text-center bg-blue-400 text-white px-3 py-2 rounded hover:bg-blue-600 text-sm whitespace-nowrap">
        Add task
    </a>

    <div class="p-4 grid gap-4 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3">
        {% for task in tasks %}
        <div class="bg-white rounded-2xl shadow p-4 flex flex-col justify-between">
            <div>
                <h2 class="text-lg font-semibold text-gray-800 mb-1">{{ task.title }}</h2>
                <p class="text-sm text-gray-600 mb-2 whitespace-pre">{{ task.description }}</p>
            </div>
            <div class="mt-auto">
                <div class="flex justify-between items-center text-sm text-gray-500">
                    <span class="font-medium {% if task.status == 'completed' %}text-green-600{% elif task.status == 'pending' %}text-yellow-600{% else %}text-red-600{% endif %}">
                        {{ task.get_status_display }}
                    </span>
                    <span>{{ task.due_date|default_if_none:"--" }}</span>
                </div>
            </div>
            <div class="mt-4 flex flex-row gap-2 min-w-0">
                <a href="{% url 'update-task' task.id %}" 
                class="flex-1 text-center bg-blue-400 text-white px-3 py-1 rounded hover:bg-blue-600 text-sm whitespace-nowrap">
                    Edit
                </a>
            
                <form action="{% url 'delete-task' task.id %}" method="post" class="flex-1 min-w-0">
                {% csrf_token %}
                <button type="submit" 
                        class="w-full bg-red-400 text-white px-3 py-1 rounded hover:bg-red-600 text-sm whitespace-nowrap">
                    Delete
                </button>
                </form>
            </div>
        </div>
        {% empty %}
        <div class="p-6 text-center text-gray-600 bg-white rounded-2xl shadow max-w-md mx-auto mt-10">
            <p class="text-lg font-medium">No tasks available</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}