{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}
Task {% if object %}({{ object.title }}){% endif %}
{% endblock %}

{% block content %}

<div class="max-w-md mx-auto bg-white p-6 rounded-lg shadow-md">
    <h1 class="text-xl font-bold mb-4">{% if object %}Update{% else %}Create{% endif %} task</h1>

    <form class="max-w-sm mx-auto" method="post">
        {% csrf_token %}
        <div class="mb-5">
            <label for="title" class="block mb-2 text-sm font-medium text-gray-900">{{ form.title.label_tag }}</label>
            {{ form.title|add_class:"w-full px-4 py-2 border rounded-md" }}
        </div>
        <div class="mb-5">
            <label for="description" class="block mb-2 text-sm font-medium text-gray-900">{{ form.description.label_tag }}</label>
            {{ form.description|add_class:"w-full px-4 py-2 border rounded-md" }}
        </div>
        <div class="mb-5">
            <label for="due_date" class="block mb-2 text-sm font-medium text-gray-900">{{ form.due_date.label_tag }}</label>
            {{ form.due_date|add_class:"w-full px-4 py-2 border rounded-md" }}
        </div>
        <div class="mb-5">
            <label for="status" class="block mb-2 text-sm font-medium text-gray-900">{{ form.status.label_tag }}</label>
            {{ form.status|add_class:"w-full px-4 py-2 border rounded-md" }}
        </div>
        
        <div class="flex items-center justify-between">
            <button type="submit" class="flex-1 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">
                Save Task
            </button>
            <a class="flex-1 align-center text-center font-bold text-sm text-blue-500 hover:text-blue-800" href="{% url 'my-tasks' %}">
                Cancel
            </a>
        </div>
        {% if form.errors %}
        {% for field, errors in form.errors.items %}
            <p class="text-red-600 text-sm mt-1">{{ errors|join:", "  }}</p>
        {% endfor %}
        {% endif %}
    </form>
</div>
{% endblock %}